*{
    font-family: "Indie Flower", cursive;  font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 700; */
    font-style: normal;
    /* letter-spacing: 3px; */
}
